@use 'sass:color';
@use 'Variables.scss';

button:not(.MuiIconButton-root):not(.MuiTab-root):not(.MuiAccordionSummary-root),
button:hover:not(.MuiIconButton-root) {
  &:focus-visible {
    outline: 0.1em solid Variables.$dark-grey;
  }
}

@mixin button-coloring(
  $textColor,
  $buttonHoveredColor,
  $buttonColor,
  $buttonSelectedColor,
  $badgeTextColor: null,
  $badgeColor: null,
) {
  $badgeTextColor: $buttonColor !default;
  $badgeColor: $textColor !default;

  .overlay {
    svg {
      color: $badgeColor;
    }
  }

  .overlay.hovered {
    svg {
      color: $buttonColor;
    }
  }

  .MuiBadge-root {
    &.notify {
      .MuiBadge-badge {
        color: Variables.$white;
        background: Variables.$alert-red;
      }
    }
  }

  button,
  button:hover {
    color: $textColor;
    &:focus-visible {
      outline-color: $textColor;
    }
    .MuiChip-root {
      color: Variables.$white;
    }
  }
  button {
    background: $buttonColor;
    .MuiChip-root {
      background: #3f3f3f;
    }
  }
  button:hover {
    background: $buttonHoveredColor;
    .MuiChip-root {
      background: #3f3f3f;
    }
  }
  .MuiBadge-badge {
    color: $badgeTextColor;
    background: $badgeColor;
  }
  .MuiBadge-dot {
    background: Variables.$alert-red;
  }
  &.selected {
    button {
      color: Variables.$white;
      background: $buttonSelectedColor;

      &:hover {
        background: $buttonHoveredColor;
      }
    }
  }
  .selected.excluded {
    button {
      color: $textColor;
      background: $buttonSelectedColor;

      &:hover {
        background: $buttonHoveredColor;
      }
    }
  }
}

*[data-todotxt-attribute] {
  @include button-coloring(
    Variables.$dark-grey,
    Variables.$less-dark-grey,
    Variables.$mid-grey,
    Variables.$lighter-grey,
    Variables.$dark-grey,
    Variables.$white,
  );
}

*[data-todotxt-attribute='priority'][data-todotxt-value='A'] {
  @include button-coloring(
    Variables.$white,
    #e70d0d,
    #f73b3b,
    #db2727,
  );
}

*[data-todotxt-attribute='priority'][data-todotxt-value='B'] {
  @include button-coloring(
    Variables.$white,
    #e75941,
    #fd7d67,
    #d55f4b,
  );
}

*[data-todotxt-attribute='priority'][data-todotxt-value='C'] {
  @include button-coloring(
    Variables.$white,
    #d2ad17,
    #e6c74e,
    #baa036,
    #706127,
  );
}

*[data-todotxt-attribute='contexts'] {
  @include button-coloring(
    #f0f0f0,
    #5aa391,
    #1e6251,
    #1c9a7b,
  );
}

*[data-todotxt-attribute='projects'] {
  @include button-coloring(
    #f1d6f1,
    #ac6aac,
    #6f266f,
    #ad2fad,
  );
}

*[data-todotxt-attribute^='pm'] {
  @include button-coloring(
    Variables.$pomodoro-red,
    Variables.$less-dark-grey,
    Variables.$light-grey,
    Variables.$midish-grey,
    Variables.$pomodoro-red,
    Variables.$white,
  );
}

.dark {
  *[data-todotxt-attribute]:not(
      [data-todotxt-attribute='priority'],
      [data-todotxt-attribute='projects'],
      [data-todotxt-attribute='contexts'],
      [data-todotxt-attribute^='pm']
    ) {
    @include button-coloring(
      Variables.$white,
      Variables.$midish-grey,
      Variables.$dark-grey,
      Variables.$less-dark-grey,
    );
  }
}
