$radius: 0.65em;
$alert-red: #ff3860;
$pomodoro-red: rgb(221, 44, 0);
$blue: #1976d2;
$black: #000;
$darker-grey: #3d3d3d;
$dark-grey: #5a5a5a;
$less-dark-grey: #8d8d8d;
$midish-grey: #a0a0a0;
$mid-grey: #ccc;
$light-grey: #ebebeb;
$lighter-grey: #f0f0f0;
$white: #fff;
